<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.9.3, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/assets/images/logo2.png" type="image/x-icon">
  <meta name="description" content="Search for locations and ideas for YOUR night out with Paint The Town!">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
</head>

<body>
  <section class="header1 cid-ricuqQJmgu" id="header1-4" style="border-bottom: solid; border-bottom-width: 20px; border-color: #e17055;">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
        </div>
      </div>
    </div>
  </section>

  <section class="mbr-section form1 cid-ricIqtIjVP" id="form1-h">
    <div class="container">
      <div class="row justify-content-center">
        <div class="title col-12 col-lg-8">
          <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
            Where would you like to go?
          </h2>
          <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">Fill in the fields below to start planning YOUR night out!</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="media-container-column col-lg-8" data-form-type="formoid">
          <form id="myForm" class="form-horizontal" action="/map" method="post">
            <!-- Form Name -->
            <!-- <legend style="text-align:center">Let's paint the town!</legend> -->
            <!-- Select Basic -->
            <div class="form-group" style="text-align:center; margin-top: 12px">
              <label class="col-md-4 control-label" style="font-family: Lobster; font-size: 24px;" for="selectAge">My age...</label>
              <div class="col-md-4" style=" display: block; margin: 0 auto;">
                <select id="selectAge" name="selectAge" class="form-control">
                  {{#each ages}}
                    <option value={{@index}}>{{this}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group" style="text-align:center; margin-top: 12px">
              <label class="col-md-4 control-label" style="font-family: Lobster; font-size: 24px" for="selectOut">I'm going out for...</label>
              <div class="col-md-4" style=" display: block; margin: 0 auto;">
                <select id="selectOut" name="selectOut" class="form-control">
                  {{#each this.events}}
                    <option value={{@index}}>{{this}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="form-group" style="text-align:center; margin-top: 12px">
              <label class="col-md-4 control-label" style="font-family: Lobster; font-size: 24px" for="selectBudget">My budget is...</label>
              <div class="col-md-4" style=" display: block; margin: 0 auto;">
                <select id="selectBudget" name="selectBudget" class="form-control">
                  {{#each this.budgets}}
                    <option value={{@index}}>{{this}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="form-group" style="text-align:center; margin-top: 12px">
              <label class="col-md-4 control-label" style="font-family: Lobster; font-size: 24px" for="selectAddress">My city is...</label>
              <div class="col-md-4" style=" display: block; margin: 0 auto;">
                <input id="pac-input" class="controls" type="text" placeholder="Type City Here">

                <div id="map" class="col-md-4"></div>
                <script>
                  // This example adds a search box to a map, using the Google Place Autocomplete
                    // feature. People can enter geographical searches. The search box will return a
                    // pick list containing a mix of places and predicted search terms.

                    // This example requires the Places library. Include the libraries=places
                    // parameter when you first load the API. For example:
                    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

                    function initAutocomplete() {
                      // Create the search box and link it to the UI element.
                      var input = document.getElementById('pac-input');
                      var searchBox = new google.maps.places.SearchBox(input);

                      var markers = [];
                      // Listen for the event fired when the user selects a prediction and retrieve
                      // more details for that place.
                      searchBox.addListener('places_changed', function() {
                        var places = searchBox.getPlaces();

                        if (places.length == 0) {
                          return;
                        }

                        // Clear out the old markers.
                        markers.forEach(function(marker) {
                          marker.setMap(null);
                        });
                        markers = [];

                        // For each place, get the icon, name and location.
                        var bounds = new google.maps.LatLngBounds();

                      });
                    }
                  </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAStlYQh66ZsHEE9OUqT1KXo9VC8t3TEyM&libraries=places&callback=initAutocomplete" async defer></script>
              </div>
            </div>
            <input class="block" type="submit" value="Paint" style="color:white;" onclick="document.getElementById('myForm').submit()" />
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="engine"><a href="https://mobirise.info/x">css templates</a></section>
  <section class="features8 cid-ricCsSnNom" id="features8-7">
    <div class="container">
      <div class="media-container-row">
        <div class="card  col-12 col-md-6 col-lg-4">
          <div class="card-img">
            <span class="mbr-iconfont mbri-globe"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-5">Global Support</h4>
            <p class="mbr-text mbr-fonts-style display-7">Paint the Town works anywhere in the world, no matter if you live in a big city, &nbsp;or rural suburb, or small country town!</p>
          </div>
        </div>
        <div class="card  col-12 col-md-6 col-lg-4">
          <div class="card-img">
            <span class="mbri-touch mbr-iconfont"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-5">
              Mobile Friendly
            </h4>
            <p class="mbr-text mbr-fonts-style display-7">Get out of the house and use Paint the Town on the go! Paint the Town's site is completely mobile friendly, from Samsungs to iPhones!</p>
          </div>
        </div>
        <div class="card  col-12 col-md-6 col-lg-4">
          <div class="card-img">
            <span class="mbr-iconfont mbri-wifi"></span>
          </div>
          <div class="card-box align-center">
            <h4 class="card-title mbr-fonts-style display-5">Updated in Real-Time</h4>
            <p class="mbr-text mbr-fonts-style display-7">Paint the Town uses Google API's to make sure the information we provide you is updated from the moment you search!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section once="" class="cid-ricIbxgqT5" id="footer6-f">
    <div class="container">
      <div class="media-container-row align-center mbr-white">
        <div class="col-12">
          <p class="mbr-text mb-0 mbr-fonts-style display-7">
            © Copyright 2019 Panic!AtTheDisco Inc. - All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </section>

  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/popper/popper.min.js"></script>
  <script src="/assets/tether/tether.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/assets/theme/js/script.js"></script>
  <script src="/assets/formoid/formoid.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>
